tg-jira-import-project-members {
    h2 {
        @include font-size(normal);
        @include font-type(bold);
        margin-bottom: 0;
    }
    .import-project-system {
        display: flex;
        justify-content: space-between;
        margin: 1rem 0 0;
        padding: .5rem 0;
        &-logo {
            max-height: 3rem;
            max-width: 3rem;
        }
        img {
            width: 100%;
        }
    }
    .user-row {
        align-items: center;
        border-bottom: 1px solid $whitish;
        display: flex;
        justify-content: space-between;
        padding: .5rem 0;
        &:first-child {
            border-top: 1px solid $whitish;
        }
        &:last-child {
            border: 0;
        }
    }
    .user-info {
        align-items: center;
        display: flex;
    }
    .username {
        margin-left: 1rem;
    }
    .importer-name {
        @include font-type(bold);
    }
    .avatar {
        &.empty {
            background-color: $whitish;
            line-height: 48px;
            text-align: center;
            width: 48px;
        }
    }
    .submit {
        display: block;
        margin: 2rem auto 0;
        padding: 12px 60px;
    }
    .user-actions {
        align-items: center;
        display: flex;
        button {
            fill: $white;
        }
    }
    .taiga-user {
        align-items: center;
        display: flex;
        .user-img {
            margin-left: .5rem;
            max-width: 3rem;
        }
        img {
            width: 100%;
        }
    }
    .check-selected {
        svg {
            fill: $primary-light;
        }
    }
    .spin {
        text-align: center;
        width: 100%;
    }
}
